/* MENU MENU MENU MENU MENU MENU */
/* MENU MENU MENU MENU MENU MENU */
#nav {
	list-style: none;
	height: 66px;
	line-height: 77px;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url('../images/menu1.jpg');
	background-position: bottom;
	text-align: right;
	padding-right: 50px;
}
#nav li {
	display: inline-block;
	background: none;
	margin: 0 0px;
	height: 63px;
	font-size: 22px;
	font-weight: 100;
}

#nav li a { 
	padding: 0; 
	line-height: 80px; 
	text-decoration: none;  
	color: #fff; 
	font-weight: 500;
	padding: 26px 16px; 
}
#nav li a:hover, #nav li a.hov { 
	background:url(../images/menu-bg.png) repeat-x;
	background-position:bottom;
	color: #de8300; 
}

/* MENU MENU MENU MENU MENU MENU */
/* MENU MENU MENU MENU MENU MENU */
